.loading {
  max-width: 70%;
  margin: 20rem auto;
  font-size: 25px;
  text-align: center;
  font-weight: 700;
}

.search-conatiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search-icon {
  width: 30px;
  height: 30px;
  align-self: center;
  justify-self: center;
}

.search-input {
  padding: 15px 0 10px 1.5rem;
  width: 95%;
  border-radius: 30px;
  border: 1px solid black;
}

.search-input:focus {
  outline: none;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: 10px 0 10px 1.5rem;
}

.search-input::placeholder {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.cities {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  gap: 1rem;
}

.arrow-icon {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;
}

.city-lists {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
  cursor: pointer;
}

.city-header {
    align-self: center;
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
}

.population {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 300;
}
